
.fullheight {
  height: 100%;

}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vcs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hcs {
  display: flex;
  flex-direction: row;
  align-items: center;
}


#titulo-app {
  font-size: 20px;
  margin-bottom: 20px;
}

.drop{
  margin-top: 10px;
  margin-left: 10px;
}