<ion-header  class="ion-no-border">
  <ion-toolbar>
	    <ion-title color="dark" size="large" slot="start" class="drop">
	      𝖓𝖔𝖙𝖙𝖔
	    </ion-title>
	   <ion-button slot="end" (click)="logout()" fill="outline" size="small" class="drop" color="danger">  <ion-icon slot="start" name="log-out-outline"></ion-icon>desconectar
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullheight xc">
    <ion-item-group>

    <div class="fullheight xc" id="titulo-app">    
        <ion-label color="dark">editar nota</ion-label>     
      </div>


      

   </ion-item-group>
  </div>





</ion-content>
