<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-title color="dark" size="large" class="drop">
    𝖓𝖔𝖙𝖙𝖔
    </ion-title>

    <ion-button [routerLink]="['/registro']" class="drop" fill="outline" size="small" color="primary"  slot="end"><ion-icon slot="start" name="star"></ion-icon>registro</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fullheight xc"> 
    <ion-item-group>

      <div class="fullheight xc"> 
      <ion-item>
        <ion-avatar>
          <img src="/assets/media/fruit1.png">
        </ion-avatar>
        <ion-avatar>
          <img src="/assets/media/fruit2.png">
        </ion-avatar>
         <ion-avatar>
          <img src="/assets/media/fruit3.png">
        </ion-avatar>
          <ion-avatar>
          <img src="/assets/media/fruit4.png">
        </ion-avatar>
      </ion-item>
      </div>


      <!-- colocar icons -->

      <div class="fullheight xc" id="titulo-app">    
        <ion-label color="dark">iniciar sesión</ion-label>     
      </div>

      <form [formGroup]="ionicForm" (ngSubmit)="iniciar()">
      <ion-item>
        <ion-label color="dark" position="floating">usuario</ion-label>
        <ion-input formControlName="username" type="text" color="warning" placeholder="ej: vilma2000" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="dark" position="floating">contraseña</ion-label>
        <ion-input formControlName="password" color="danger" type="password" placeholder="*********" ></ion-input>
      </ion-item>

        <div class="fullheight xc">
        <ion-button type="submit" [disabled]="ionicForm.invalid" color="secondary" fill="outline" size="small">acceder</ion-button>
        </div>


      </form>


   </ion-item-group>
  </div>
</ion-content>
