<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">    
    <ion-button [routerLink]="['/']" class="drop" fill="outline" size="small" color="warning">  
      <ion-icon slot="start" name="caret-back-outline"></ion-icon>Volver</ion-button>
    </ion-buttons>
    <ion-title color="dark" slot="end" size="large" class="drop">
      𝖓𝖔𝖙𝖙𝖔
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

	<ion-content>
  <div class="fullheight xc">

    <ion-item-group>

      <div class="fullheight xc"> 
      <ion-item>
        <ion-avatar>
          <img src="/assets/media/fruit5.png">
        </ion-avatar>
        <ion-avatar>
          <img src="/assets/media/fruit6.png">
        </ion-avatar>
         <ion-avatar>
          <img src="/assets/media/fruit7.png">
        </ion-avatar>
          <ion-avatar>
          <img src="/assets/media/fruit8.png">
        </ion-avatar>
      </ion-item>
      </div>

      <div class="fullheight xc" id="titulo-app">    
        <ion-label color="success">registro</ion-label>     
      </div>

      <ion-item>
        <ion-label color="dark" position="stacked">nombre</ion-label>
        <ion-input color="primary" placeholder="ej: vilma"></ion-input>
      </ion-item>      

      <ion-item>
        <ion-label color="dark" position="stacked">usuario</ion-label>
        <ion-input color="warning" placeholder="ej: vilma2000"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="dark" position="stacked">contraseña</ion-label>
        <ion-input color="danger" type="password" placeholder="******"></ion-input>
      </ion-item>

       <ion-item>
        <ion-label color="dark" position="stacked">confirmar contraseña</ion-label>
        <ion-input color="secondary" type="password" placeholder="******"></ion-input>
      </ion-item>

       <div class="fullheight xc">  
        <ion-button color="primary" fill="outline" size="small">confirmar</ion-button>
       </div>


   </ion-item-group>


  </div>

</ion-content>

